<form name="password_form">
	<div class="box-body">
		<div 
			class="callout callout-info text-center" 
			ng-show="!dashboard.error && !dashboard.success"
		>
			<h4>
				<i class="fa fa-info"></i>&nbsp;
				{{ 'DASHBOARD_RESET_PASSWORD_TITLE'| translate}}
			</h4>
			<p>
				{{ 'DASHBOARD_RESET_PASSWORD_PARAGRAPH'| translate}}
			</p>
		</div>
		<div class="callout callout-danger text-center" ng-show="dashboard.error">
			<h4><i class="fa fa-times"></i>&nbsp;Error</h4>
			{{ dashboard.error | translate}}
		</div>
		<div class="callout callout-success text-center" ng-show="dashboard.success">
			<h4><i class="fa fa-check"></i>&nbsp;
				{{ 'DASHBOARD_SUCCESS' | translate }}
			</h4>
			{{ dashboard.success | translate}}
		</div>
		<div class="callout callout-info text-center" ng-show="dashboard.message">
			<h4><i class="fa fa-info"></i>&nbsp;Info</h4>
			{{ dashboard.message | translate}}
		</div>
      		<div 
						class="
							form-group 
							has-feedback 
							{{
								(
									password_form.new_password.$invalid && 
									password_form.new_password.$touched
								) ? 
								'has-error' : 
								''
							}}
						"
						ng-show="!dashboard.error && !dashboard.success"
					>
		        <input 
							id="new_password" 
							name="new_password" 
							type="password" 
							class="form-control" 
							placeholder="{{ 'DASHBOARD_NEW_PASSWORD_FIELD'| translate}}"
							ng-required="true"
							ng-model="dashboard.new_password" 
						>
						<span 
							class="help-block text-right" 
							ng-show="
								password_form.new_password.$touched && 
								password_form.new_password.$error.required
							"
						>
							{{ 'DASHBOARD_REQUIRED_ERROR'| translate}}
						</span>
		      </div>
      		<div 
						class="
							form-group 
							has-feedback 
							{{
								(
									password_form.repeat_password.$invalid && 
									password_form.repeat_password.$touched
								) ? 
								'has-error' : 
								''
							}}
						"
						ng-show="!dashboard.error && !dashboard.success"
					>
		        <input 
							id="repeat_password" 
							name="repeat_password" 
							type="password" 
							class="form-control" 
							placeholder="{{ 'DASHBOARD_REPEAT_PASSWORD_FIELD'| translate}}"
							ng-required="true"
							ng-model="dashboard.repeat_password" 
							input-match="new_password" 
						>
						<span 
							class="help-block text-right" 
							ng-show="
								password_form.repeat_password.$touched && 
								password_form.repeat_password.$error.required
							"
						>
							{{ 'DASHBOARD_REQUIRED_ERROR'| translate}}
						</span>
						<span 
							class="help-block text-right" 
							ng-show="
								password_form.repeat_password.$touched && 
								password_form.repeat_password.$error.inputmatch
							"
						>
							{{ 'DASHBOARD_PASSWORD_MISMATCH_ERROR'| translate}}
						</span>
		      </div>
	</div>
	<div class="box-footer">
		<a
			href="#" 
			class="btn btn-success btn-block btn-flat"
			ng-show="!dashboard.error && !dashboard.success"
			ng-disabled="password_form.$invalid"
			ng-click="dashboard.resetPassword()"
		>
			<i class="fa fa-key fa-fw"></i>&nbsp;
			{{ 'DASHBOARD_RESET_PASSWORD_BUTTON' | translate}}
		</a>
		<a 
			class="btn btn-default btn-block btn-flat" 
			href="/login"
			ng-show="dashboard.success"
		>
			<i class="fa fa-arrow-left"></i>&nbsp;
			{{ 'DASHBOARD_GO_LOGIN_BUTTON' | translate}}
		</a>
	</div>
</form>
